$row-color: #ffffff;
$row-hover-color: #F0F0F0;
$row-selected-color: #E8E8E8;
$border-color: #e5e5e5;
$checkbox-selected-color: #4b96e0;
$gray-color: #4b4b4b;
$status-circle-color: #81d13f;

$checkmark-svg: 'data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="548.873px" height="548.873px" viewBox="0 0 548.873 548.873" style="enable-background:new 0 0 548.873 548.873;" xml:space="preserve"><g><polygon fill="white" points="449.34,47.966 195.46,301.845 99.533,205.917 0,305.449 95.928,401.378 195.46,500.907 294.99,401.378 548.873,147.496 "/></g></svg>';
$download-svg: 'data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><rect fill="#4b4b4b" x="78.4" y="423.4" width="358" height="51"/><polygon fill="#4b4b4b" points="433.7,193.2 334,193.2 334,40.7 180.5,40.7 180.5,193.7 79.7,193.7 256.5,370.2 	"/></g></svg>';
