<div class="checkbox-component {{this.customClassSafe}}" {{on "click" this.toggleSelection}}>
  <div class="checkbox {{this.stateClass}}"><div class="checkmark"></div></div>
  <span>{{yield}}</span>
</div>